table#wpgmappity_sample_table tr.wpgmappity-iframe-dimension {
	height: 3em;
	margin-bottom: 1em;
}

table#wpgmappity_sample_table th {
	font-size:1.1em;
	font-weight:bold;
}

table#wpgmappity_sample_table span.wpgmappity_iframe_header_span{
	margin-left:5px;
}

table#wpgmappity_sample_table div.wpgmappity_size_choice {
	float:left;
	margin:0;
	width:25%;
}

div#wpgmappity_custom_size_dialog {
	display:none;
}

p#wpgmappity_custom_size_warning {
	font-size:90%;
	text-align:center;
	color:#ff0000;
	margin:0;
}
/* Zoom Controls */
table#wpgmappity_sample_table tr#wpgmappity-iframe-map-size {
	height: 4.0em;
	margin-bottom: 1em;
}
div#wpgmappity_zoom_slider_wrapper {
	width:400px;
	margin:1px 0px 0px 0px;
	float:left;
}
div#wpgmappity_zoom_slider_wrapper p {
	padding:0;
	margin:0;
	text-align:center;
	
}
div#wpgmappity_zoom_slider_wrapper p div.wpgmappity_leftarrows{
	background:url(leftarrows.gif) no-repeat; 
	height:10px;
	width:10px;
}
div#wpgmappity_zoom_slider_wrapper p span.wpgmappity_rightarrows{
	background:url(rightarrows.gif) no-repeat left; 
	height:10px;
	width:10px;
}

div#wpgmappity_zoom_control_container {
	margin:5px 0px 0px 0px;
	width:400px;
	position:relative; 
	height:12px;
	background:url(wpgmappity-slider-back.png) no-repeat; 
	float:left;
}

div#wpgmappity_zoom_slider {
	height:12px; 
	width:388px; 
	position:absolute; 
}

div#wpgmappity_zoom_slider a.ui-slider-handle {
	background:url(wpgmappity-slider-handle.png) no-repeat; 
	height:12px; 
	width:12px; 
	overflow:hidden;
	position:absolute;
	z-index:1;
	cursor:move;
}

div#wpgmappity_zoom_slider_status_wrap {
	float:right;
        font-size:90%;
}

div#wpgmappity_zoom_slider_status {
margin-left:30px;
}

/* Center Point */
table#wpgmappity_sample_table tr#wpgmappity-iframe-center-point {
	height: 4.0em;
	margin-bottom: 1em;
}
div#wpgmappity_center_point_wrapper {
	margin-top:5px;
}
div#wpgmappity_center_point_flash,  div#wpgmappity_marker__flash {
	width:100%;
	height:14px;
}
div#wpgmappity_center_point_flash p, div#wpgmappity_marker_flash p {
	text-align:center;
	padding:0;
	margin:0;
}
div#wpgmappity_center_point_flash span.wpgamapptiy_success {
	color:#009933;
}
div#wpgmappity_center_point_flash span.wpgamapptiy_warning {
	color:#ff0000;
}
div#wpgmappity_more_center_results_contents p, div#wpgmappity_more_marker_results_contents p {
	margin:0px 0px 2px;
	padding:0;
}
div#wpgmappity_center_point_flash div#wgmappity_small_ajax {
	background:url(ajax-loader.gif) no-repeat; 
	width:16px;
	height:14px;
	margin: 0 auto;
}

/* Add Markers */

table#wpgmappity_sample_table tr#wpgmappity-iframe-add-marker {
	height: 4.0em;
	margin-bottom: 1em;
}
div#wpgamppity_add_marker_container, div.wpgmappity_marker_on_map  {
	width:80%;
	margin-left:10%;
	margin-right:10%;
}
div#wpgamppity_add_marker_container h3 {
	text-align:center;
	padding:5px;
	border:1px #ccc solid;
}
div#wpgamppity_add_marker_container h3 a {
	font-size:1.5em;
}
div.wpgmappity_marker_on_map {
	padding:5px;
	border:1px #ccc solid;
	margin-bottom:5px;
	width:400px;
}
div.wpgmappity_marker_on_map p {
	width:280px;
	padding:0;
	margin:0;
}
div.wpgmappity_marker_on_map p.wpgmappity_delete_marker {
	float:right;
	width:120px;
	text-align:right;
}
div#wgmappity_marker_configure_wrap p {
	margin:10px 0 0 0;
	padding:0;
}

/*types */
div.wpgmappity_type_choice {
	float:left;
	margin:0;
	width:33%;
}

/* row in a row */
div.wpgmappity_choice_row {
	float:left;
	margin:0;
	width:100%;
}


/*submit */
div.wpgmappity_submit {
	width:100px;
	margin: 5px auto;
}

/* map library */

div#map_items { 
border-bottom:medium none;
border-style:solid solid none;
border-width:1px 1px medium;
border-color: #DFDFDF;
width:623px;
margin: 1.0em;
}

div#map_items div.map-list-item { 
border-bottom-style:solid;
border-bottom-width:1px;
border-color: #DFDFDF;
min-height:36px;
width:100%;
 }

div#map_items div.map-list-item a.wpgmappity_map_delete,
div#map_items div.map-list-item a.wpgmappity_map_edit { 
display:block;
float:right;
line-height:36px;
margin-right:20px;
 }

.grey-out { 
color:#999999;
}

fieldset.marker-fields { 
border: 1px solid #cccccc;
padding:0 5px;
}

div#wpgmappity-custom-image-preview { 
float:right;
height:50px;
width:50px;
 }

/* Routes */

ul#wpgmappity-destinationList li { 
margin-bottom:0;
 }

input.wpgmappity-destinationSearch { 
border:1px solid #CCCCCC;
color:#516064;
font-size:12px;
margin-bottom:5px;
padding:3px;
width:280px;
float:left;
margin-top:3px;
}

div.wpgmappity-destinationNumber { 
font-weight:bold;
cursor:move;
display:inline;
width:15px; 
height:12px;
float:left;
border: 1px solid #ccc;
background-color:#dedede;
margin:5px;
padding:0px 3px 5px;
}

div.wpgmappity-destinationRemove, div.wpgmappity-destinationRemoveHot {
background-repeat: no-repeat;
width:20px; 
height:17px;
float:left;
margin:8px 5px;
cursor:pointer;
 }

div.wpgmappity-destinationRemoveOff {  
background-image:url("removegrey.png");
                                      }

div.wpgmappity-destinationRemoveHot { 
background-image:url("removeactive.png");
                                      }

div.wpgmappity-destinationNumber p { 
text-align:center;
margin-top:0;
 }


ul#wpgmappity-destination_list { 
 }

p#wpgmappity-destinationAdd { 
text-align:center;
margin: 5px auto;
}

p#wpgmappity-destinationAdd a { 
font-size:12px;
}